.=======================================================================================================.
.									SIP Server Engine Command Line										.												
.=======================================================================================================.
