<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
   xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui"
   xmlns:lc="http://wixtoolset.org/schemas/v4/wxl"
   xmlns:netfx="http://wixtoolset.org/schemas/v4/wxs/netfx"
   xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util"
   >
  <!-- GERRAudio Distribution 2024
     Installs SIPServer by default in $(InstallPathDefault)\SIPServer folder, creates if necessary.
     This can be overriden by user.
     The gstreamer dependency is installed in the ../Media directory if not present
     SIPServer.exe is created as an auto service but is not started 
     since conf and cert directories may not be completely configured yet
     Start menu shortcuts for SIPServer and the remote console are created if manual startup is desired for testing.
     
     A date-stamped backup is made of any existing SIPServer installation 
     including all subdirectories, whether manually copied or not (full copy)
     
     The IconsEtcPath contains the GERRAudio graphics and the
     liability limitation statements.
     Change the SIPServerVersion define for every release.
     Version downgrades are permitted.
         
     The cert directory is NOT installed for security

     - TODO get rid of wssm (service start) utility 
  -->

  <!-- where to install by default -->
  <?define InstallPathDefault = "C:\inetpub\" ?>
  <!-- where to harvest SIPServer files from relative to this dev folder-->
  <?define ReleaseBuildDirectoryPath = "..\..\SIPServer\x64\Release\" ?>
  <!-- where to harvest gstreamer files from -->
  <?define GSTMediaDirectoryPath = "..\..\SIPServer\x64\Media\" ?>
  <!-- where to harvest utility installer files from -->
  <?define IconsEtcPath= ".\InstallUtils\" ?>
  
  <?define SIPServerVersion=1.10.12?>
  <?define MSIVersion=1.3?>   <!-- Update for new releases of this installer -->
  <!-- TODO auto version increments -->

  <Package Name="IP Telephony &#13;&#10;SIPServer v$(SIPServerVersion)-msi v$(MSIVersion)"
       Language="1033"

       Version='$(SIPServerVersion)'
       Manufacturer="GERRAudio Distribution"
       UpgradeCode="f2444410-fef7-43d3-a673-cdeea14fa68e"

       Scope="perMachine"
       >
       <!--InstallerVersion="301"-->

    
    <MajorUpgrade  AllowDowngrades="yes"/>
    <Property Id="MSIUSEREALADMINDETECTION" Value="1" />
    <MediaTemplate EmbedCab="yes" />

    <Property Id="ROOTDRIVE" Value="C:\"/>
    <Feature Id="SIPSERVER" Title="IP Telephony Server" Level="1">
      <ComponentGroupRef Id="HarvestedComponents"/>
      <ComponentGroupRef Id="GSTHarvestedComponents"/>
    </Feature>

    <Feature Id="ProductFeature" Title="Main Product" Level="1">
      <ComponentRef Id="ApplicationShortcut" />
      <ComponentRef Id="ApplicationShortcutDesktop" />
      <ComponentGroupRef Id="HarvestedComponents"/>
    </Feature>

    <!-- VC redistributable install C:\Windows\System32-->
    <DirectoryRef Id="TARGETDIR">
      <Merge Id="VCRedist"
           SourceFile="C:\Program Files (x86)\Microsoft Visual Studio\2019\BuildTools\VC\Redist\MSVC\14.16.27012\MergeModules\Microsoft_VC141_CRT_x64.msm"
           DiskId="1" Language="0"/>
      <!--Merge Id="VCRedist140"
          SourceFile="C:\Program Files (x86)\Common Files\Merge Modules\Microsoft_VC140_CRT_x64.msm"
          DiskId="1" Language="0"/-->
    </DirectoryRef>

    <Feature Id="VCRedist" Title="Visual C++ x64 Runtime" AllowAdvertise="no" Display="hidden" Level="1">
      <MergeRef Id="VCRedist"/>
      <!--MergeRef Id="VCRedist140"/-->
    </Feature>

    <!--  UI stuff  -->
    <UIRef Id="CustomUI_IP" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Display important setup information" />

    <UI>
      <ui:WixUI
        Id="WixUI_InstallDir_WithIP"
        InstallDirectory="APPROOT"
        />

      <Publish Dialog="ExitDialog"
        Control="Finish"
        Event="DoAction"
        Value="LaunchReadme"
        Condition='(WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1)  and NOT Installed'/>
    </UI>

    <Binary Id="readme.txt" SourceFile="$(IconsEtcPath)readme.txt" />
    <Property Id="WixShellExecBinaryId" Value="readme.txt" />
    <CustomAction Id="LaunchReadme" BinaryRef="Wix4UtilCA_$(sys.BUILDARCHSHORT)"
            DllEntry="WixShellExecBinary" Execute="immediate" Return="ignore"
    />

    <UIRef Id="WixUI_ErrorProgressText" />
    <SetProperty
        Id="WIXUI_EXITDIALOGOPTIONALTEXT"
        Value="[ProductName] installation complete. Please start the SIPServer service (recommended) or run as an app from the start menu."
        After="FindRelatedProducts"
        Sequence="ui"
     />


    <!-- Custom install path -->
    <Property Id="APPROOT" Value="$(InstallPathDefault)"/>
    <!-- default is not in Program Files -->

    <!-- Custom IP: These should be left as-is, the installer can change them if required, but will search for these specific values to replace in vars.xml-->
    <Property Id="TCPADR" Value="10.8.91.10"/>
    <Property Id="UDPADR" Value="10.8.90.10"/>

    <WixVariable
       Id="WixUILicenseRtf"
      Value="$(IconsEtcPath)\GerrAudiobpl.rtf"
     />
    <WixVariable
      Id="WixUIDialogBmp"
      Value="$(IconsEtcPath)\GerrAudioDialog.png"
    />
    <WixVariable
      Id="WixUIBannerBmp"
      Value="$(IconsEtcPath)\GerrAudioBanner.png"
    />

    <InstallUISequence>
      <Show Dialog="MsiRMFilesInUse"   Condition="0" Overridable="yes" Sequence="1" />
    </InstallUISequence>

    <AdminUISequence>
      <Show Dialog="MsiRMFilesInUse"   Condition="0" Overridable="yes" Sequence="1"  />
    </AdminUISequence>

    <InstallExecuteSequence>
      <Custom Action="StopApp"		      After="InstallInitialize"  />
      <Custom Action="StopSvc"		      After="StopApp"  />
      <Custom Action="DeleteSvc"	      After="StopSvc"  />
      <Custom Action="Backup"			      After="DeleteSvc"
              Condition ='UPGRADINGPRODUCTCODE AND REMOVE~="ALL" AND NOT REINSTALL="ALL"'/>
      <Custom Action="Rename"			      After="Backup"/>
      <Custom Action="SetIP"			      Before="InstallService"/>
      <Custom Action="InstallService"   Before="InstallFinalize"   />
      <Custom Action="ConfigSvcSetup"   After="InstallService"/>
      <Custom Action="LaunchReadme"	    After ="InstallFinalize" Condition='WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1  and NOT Installed'/>
    </InstallExecuteSequence>
  </Package>




  <Fragment>
    <Directory  Name="." ComponentGuidGenerationSeed="5950CB39-0D52-4158-A4B1-4BC5AAE9A2C4">
      <Directory Id="APPROOT">
        <Directory Id="MYAPPFOLDER" Name="SIPServer"/>
        <Directory Id="MEDIADIR" Name="Media"/>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="MYSTARTFOLDER" Name="GerrAudio"/>
      </Directory>
    </Directory>

    <Icon Id="GerrIcon.ico"   SourceFile="$(IconsEtcPath)\GerrAudio.ico"/>
    <Icon Id="GerrIconW.ico"  SourceFile="$(IconsEtcPath)\GerrAudioW.ico"/>

    <DirectoryRef Id="DesktopFolder">
      <!--Desktop shortcut-->
      <Component Id="ApplicationShortcutDesktop" Guid="335335B2-F691-408E-A857-56C3D30DA636">

        <Shortcut Id="ServiceStartDesktopShortcut"
            Name="Start SIPServer Service"
            Description="SIPServer Service Start"
            Target="[MYAPPFOLDER]SvcStart.bat"
            WorkingDirectory="MYAPPFOLDER"
            Icon="GerrIconW.ico">
          <!--ShortcutProperty  Key="System.AppUserModel.RunAsAdmin" Value="1" /-->
        </Shortcut>

        <Shortcut Id="ServiceStopDesktopShortcut"
            Name="Stop SIPServer Service"
            Description="SIPServer Service Stop"
            Target="[MYAPPFOLDER]SvcStop.bat"
            WorkingDirectory="MYAPPFOLDER"
            Icon="GerrIcon.ico">
          <!--ShortcutProperty  Key="System.AppUserModel.RunAsAdmin" Value="1" /-->
        </Shortcut>

        <Shortcut Id="CLIApplicationDesktopShortcut"
            Name="Command Line Interface (CLI)"
            Description="SIPServer Command Line Interface (CLI)"
            Target="[MYAPPFOLDER]EngineCommandLine.exe"
            WorkingDirectory="MYAPPFOLDER"
            Icon="GerrIconW.ico"/>

        <Shortcut Id="ServiceQueryDesktopShortcut"
            Name="Service Status"
            Description="SIPServer Service Query Status"
            Target="[MYAPPFOLDER]SvcQuery.bat"
            WorkingDirectory="MYAPPFOLDER"
            Icon="GerrIcon.ico"/>

        <RegistryValue Root="HKCU" Key="Software\GerrAudio\SIPServerIDT" Name="installed1" Type="integer" Value="1" KeyPath="yes"/>
        <RegistryValue Root="HKCU" Key="Software\GerrAudio\SIPServerDT" Name="installed1" Type="string" Value="SIPServer"  />
        <RegistryValue Root="HKCU" Key="Software\GerrAudio\fs_cliIDT" Name="installed2" Type="integer" Value="1" />
        <RegistryValue Root="HKCU" Key="Software\GerrAudio\fs_cliDT" Name="installed2" Type="string" Value="SIPServer-CLI"  />
        <RegistryValue Root="HKCU" Key="Software\GerrAudio\SIPSvcStartIDT" Name="installed3" Type="integer" Value="1" />
        <RegistryValue Root="HKCU" Key="Software\GerrAudio\SIPSvcStartDT" Name="installed3" Type="string" Value="ServerSvcStart"  />
        <RegistryValue Root="HKCU" Key="Software\GerrAudio\SIPSvcStopIDT" Name="installed4" Type="integer" Value="1" />
        <RegistryValue Root="HKCU" Key="Software\GerrAudio\SIPSvcStopDT" Name="installed4" Type="string" Value="ServerSvcStop"  />

      </Component>
    </DirectoryRef>

    <!--Start menu shortcuts-->
    <!-- order of shortcuts in start menu is alphabetical by name-->
    <DirectoryRef Id="MYSTARTFOLDER">
      <Component Id="ApplicationShortcut" Guid="F5E4852D-0A23-4BBF-8E43-99B9D9C80837">
        <Shortcut Id="ServiceStartMenuShortcut"
                  Name="1 - Start SIP Service"
                  Description="Start the SIPServer service"
                  Target="[MYAPPFOLDER]SvcStart.bat"
                  WorkingDirectory="MYAPPFOLDER"
                  Icon="GerrIconW.ico"
                  >
          <!--ShortcutProperty  Key="System.AppUserModel.RunAsAdmin" Value="1" /-->
        </Shortcut>


        <Shortcut Id="ServiceStopMenuShortcut"
                  Name="2 - Stop SIP Service"
                  Description="Stop the SIPServer service"
                  Target="[MYAPPFOLDER]SvcStop.bat"
                  WorkingDirectory="MYAPPFOLDER"
                  Icon="GerrIcon.ico">
          <!--ShortcutProperty  Key="System.AppUserModel.RunAsAdmin" Value="1" /-->
        </Shortcut>


        <Shortcut Id="CLIApplicationStartMenuShortcut"
                  Name="3 - Command Line Interface (CLI)"
                  Description="Command Line Interface (CLI) to access the service"
                  Target="[MYAPPFOLDER]EngineCommandLine.exe"
                  WorkingDirectory="MYAPPFOLDER"
                  Icon="GerrIconW.ico"/>

        <Shortcut Id="ServiceQueryStartMenuShortcut"
                  Name="4 - Service Status"
                  Description="SIPServer Service Query Status"
                  Target="[MYAPPFOLDER]SvcQuery.bat"
                  WorkingDirectory="MYAPPFOLDER"
                  Icon="GerrIcon.ico"/>

        <!-- this shortcut starts the console in case it is needed for debugging -->
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="5 - SIPServer Console"
                  Description="SIPServer Console"
                  Target="[MYAPPFOLDER]SIPServer.exe"
                  WorkingDirectory="MYAPPFOLDER"
                  Icon="GerrIcon.ico"/>

        <RemoveFolder Id="UninstallShortcut" Directory="MYSTARTFOLDER" On="uninstall"/>

        <RegistryValue Root="HKCU" Key="Software\GerrAudio\SIPSvcStartI" Name="installed3" Type="integer" Value="1" />
        <RegistryValue Root="HKCU" Key="Software\GerrAudio\SIPSvcStart" Name="installed3" Type="string" Value="ServerSvcStart"  />
        <RegistryValue Root="HKCU" Key="Software\GerrAudio\SIPSvcStopI" Name="installed4" Type="integer" Value="1" />
        <RegistryValue Root="HKCU" Key="Software\GerrAudio\SIPSvcStop" Name="installed4" Type="string" Value="ServerSvcStop"  />
        <RegistryValue Root="HKCU" Key="Software\GerrAudio\fs_cliI" Name="installed2" Type="integer" Value="1" />
        <RegistryValue Root="HKCU" Key="Software\GerrAudio\fs_cli" Name="installed2" Type="string" Value="SIPServer-CLI"  />
        <RegistryValue Root="HKCU" Key="Software\GerrAudio\SIPServerI" Name="installed1" Type="integer" Value="1" KeyPath="yes"/>
        <RegistryValue Root="HKCU" Key="Software\GerrAudio\SIPServer" Name="installed1" Type="string" Value="SIPServer"  />


        <!--Environment variables to set or modify NO LONGER REQUIRED -->
        <!-- sys env var(s) -->
        <!-- usr env var(s) -->
        <!-- keep for reference, no longer required, handled by aes67 module...
        
        <Environment Id ="GSTR3USR"
            Name="Path"
            Part ="last"
            Permanent ="yes"
            Action ="set"
            System ="no"
            Value ="%GSTREAMER_1_0_ROOT_MSVC_X86_64%bin\"/>
      -->
      </Component>
    </DirectoryRef>

    <!-- Files to install-->
    <ComponentGroup  Id="HarvestedComponents" Directory="MYAPPFOLDER">
      <!--Special batch file utility-->
      <!-- No Guid forces the batch to persist between installs-->
      <Component Id="VCRuntime" Guid="E194CCDE-5D35-4284-AAC2-552A81C663E5">
        <File Id="VCRuntime"
            Source="$(IconsEtcPath)\VCRUNTIME140.dll" KeyPath="yes"
        />
      </Component>
      <Component Id="VCRuntime1" Guid="88291E6E-2281-4F5C-805D-67A6644B5A83">
        <File Id="VCRuntime1"
            Source="$(IconsEtcPath)\VCRUNTIME140_1.dll" KeyPath="yes"
        />
      </Component>
      <Component Id="RenBackupFile" Guid="4BFDE8BB-EF40-4755-AF9C-18221D1D3DC4">
        <File Id="RenBackupScript"
            Source="$(IconsEtcPath)\RenBackup.bat" KeyPath="yes"
        />
      </Component>
      <Component Id="SvcQuery" Guid="A5D8FF09-DB6F-4AC2-B3FA-18E588128018">
        <File Id="SvcQueryScript"
            Source="$(IconsEtcPath)\SvcQuery.bat" KeyPath="yes"
        />
      </Component>
      <Component Id="SvcStart" Guid="45342FAC-4BA4-49E4-BA31-74BE1ACE4BDC">
        <File Id="SvcStartScript"
            Source="$(IconsEtcPath)\SvcStart.bat" KeyPath="yes"
        />
      </Component>
      <Component Id="SvcStop" Guid="D51BA800-BFB9-44BB-AF34-946F0BF7A5C8">
        <File Id="SvcStopScript"
            Source="$(IconsEtcPath)\SvcStop.bat" KeyPath="yes"
        />
      </Component>
      <Component Id="SetIP" Guid="5E8F3974-81B1-4984-BBCA-A42FE2D252C9">
        <File Id="SetIPScript"
            Source="$(IconsEtcPath)\SetIP.bat" KeyPath="yes"
        />
      </Component>
      <Component Id="grep" Guid="4A04A90C-094C-466B-86CB-2C3E2DBCE7B0">
        <File Id="grep"
            Source="$(IconsEtcPath)\grep.exe" KeyPath="yes"
        />
      </Component>
      <Component Id="svcinstaller" Guid="FFE671AF-0508-41DF-9500-194F3EDDD401">
        <File Id="nssm"
            Source="$(IconsEtcPath)\nssm.exe" KeyPath="yes"
        />
      </Component>
      <Component Id="readme.txt" Guid="">
        <File Id="readme.txt"
            Source="$(IconsEtcPath)\readme.txt" KeyPath="yes"
        />
      </Component>
      <Files   Include="$(ReleaseBuildDirectoryPath)\**">
        <!-- for security reasons, we do not include the certificates, they must be manually installed -->
        <Exclude Files ="$(ReleaseBuildDirectoryPath)\cert\**"/>
        <!-- the various setup files are not copied, they are explicitely brought over from the utils directory -->
        <Exclude Files ="$(ReleaseBuildDirectoryPath)\**\VCRUNTIME140.dll"/>
        <Exclude Files ="$(ReleaseBuildDirectoryPath)\**\VCRUNTIME140_1.dll"/>
        <Exclude Files ="$(ReleaseBuildDirectoryPath)\**\*.remove"/>
        <Exclude Files ="$(ReleaseBuildDirectoryPath)\**\RenBackup.bat"/>
        <Exclude Files ="$(ReleaseBuildDirectoryPath)\**\SvcQuery.bat"/>
        <Exclude Files ="$(ReleaseBuildDirectoryPath)\**\SvcStop.bat"/>
        <Exclude Files ="$(ReleaseBuildDirectoryPath)\**\SvcStart.bat"/>
        <Exclude Files ="$(ReleaseBuildDirectoryPath)\**\SetIP.bat"/>
        <Exclude Files ="$(ReleaseBuildDirectoryPath)\**\grep.exe"/>
        <Exclude Files ="$(ReleaseBuildDirectoryPath)\**\nssm.exe"/>
        <Exclude Files ="$(ReleaseBuildDirectoryPath)\**\readme.txt"/>

        <!--Files we do not want to copy over - see .gitignore -->
        <Exclude Files ="$(ReleaseBuildDirectoryPath)\**\.git*"/>
        <Exclude Files ="$(ReleaseBuildDirectoryPath)\**\.git"/>
        <Exclude Files ="$(ReleaseBuildDirectoryPath)\**\.gitignore"/>
        <Exclude Files ="$(ReleaseBuildDirectoryPath)\**\.pem"/>
        <Exclude Files ="$(ReleaseBuildDirectoryPath)\**\*.ipdb"/>
        <Exclude Files ="$(ReleaseBuildDirectoryPath)\**\*.bsc"/>
        <Exclude Files ="$(ReleaseBuildDirectoryPath)\**\*.ilk"/>
        <Exclude Files ="$(ReleaseBuildDirectoryPath)\**\*.pdb"/>
        <Exclude Files ="$(ReleaseBuildDirectoryPath)\**\*.lib"/>
        <Exclude Files ="$(ReleaseBuildDirectoryPath)\**\*.exp"/>
        <Exclude Files ="$(ReleaseBuildDirectoryPath)\**\*.log"/>
        <Exclude Files ="$(ReleaseBuildDirectoryPath)\**\*.user"/>
        <Exclude Files ="$(ReleaseBuildDirectoryPath)\**\*.suo"/>
        <Exclude Files ="$(ReleaseBuildDirectoryPath)\**\*.ncb"/>
        <Exclude Files ="$(ReleaseBuildDirectoryPath)\**\*.map"/>
        <Exclude Files ="$(ReleaseBuildDirectoryPath)\**\*.obj"/>
        <Exclude Files ="$(ReleaseBuildDirectoryPath)\**\*.idb"/>
        <Exclude Files ="$(ReleaseBuildDirectoryPath)\**\*.res"/>
        <Exclude Files ="$(ReleaseBuildDirectoryPath)\**\*.cab"/>
        <Exclude Files ="$(ReleaseBuildDirectoryPath)\**\*.msi"/>
      </Files>
    </ComponentGroup>

    <ComponentGroup  Id="GSTHarvestedComponents" Directory="MEDIADIR">

      <Files   Include="$(GSTMediaDirectoryPath)\**">
        <!--TODO - check if we can exclude dev files-->
        <Exclude Files ="$(GSTMediaDirectoryPath)\**\.git*"/>
        <Exclude Files ="$(GSTMediaDirectoryPath)\**\.git"/>
        <Exclude Files ="$(GSTMediaDirectoryPath)\**\.pem"/>
        <Exclude Files ="$(GSTMediaDirectoryPath)\**\.gitignore"/>
        <Exclude Files ="$(GSTMediaDirectoryPath)\**\*.ipdb"/>
        <Exclude Files ="$(GSTMediaDirectoryPath)\**\*.bsc"/>
        <Exclude Files ="$(GSTMediaDirectoryPath)\**\*.ilk"/>
        <Exclude Files ="$(GSTMediaDirectoryPath)\**\*.pdb"/>
        <Exclude Files ="$(GSTMediaDirectoryPath)\**\*.lib"/>
        <Exclude Files ="$(GSTMediaDirectoryPath)\**\*.exp"/>
        <Exclude Files ="$(GSTMediaDirectoryPath)\**\*.log"/>
        <Exclude Files ="$(GSTMediaDirectoryPath)\**\*.user"/>
        <Exclude Files ="$(GSTMediaDirectoryPath)\**\*.suo"/>
        <Exclude Files ="$(GSTMediaDirectoryPath)\**\*.ncb"/>
        <Exclude Files ="$(GSTMediaDirectoryPath)\**\*.map"/>
        <Exclude Files ="$(GSTMediaDirectoryPath)\**\*.obj"/>
        <Exclude Files ="$(GSTMediaDirectoryPath)\**\*.idb"/>
        <Exclude Files ="$(GSTMediaDirectoryPath)\**\*.res"/>
        <Exclude Files ="$(GSTMediaDirectoryPath)\**\*.cab"/>
        <Exclude Files ="$(GSTMediaDirectoryPath)\**\*.msi"/>
        <Exclude Files ="$(GSTMediaDirectoryPath)\**\*.h"/>
        <Exclude Files ="$(GSTMediaDirectoryPath)\**\*.c"/>
        <Exclude Files ="$(GSTMediaDirectoryPath)\**\*.cpp"/>
        <Exclude Files ="$(GSTMediaDirectoryPath)\**\*.props"/>
      </Files>
    </ComponentGroup>


    <!-- stop service (try both ways) and backup prev version -->
    <CustomAction Id="StopApp"
      ExeCommand='cmd.exe /c  echo Stopping SIPServer... please do not close window &amp;&amp; [MYAPPFOLDER]\SIPServer.exe -stop 2>NUL >NUL &amp;&amp; taskkill /F /IM gst-ptp-helper.exe 2>NUL >NUL'
      Directory="MYAPPFOLDER"  Execute="deferred"
      Return="ignore"
      Impersonate="no"                  
      />

    <CustomAction Id="StopSvc"
      ExeCommand='cmd.exe /c echo Stopping service... please do not close window &amp;&amp; sc stop SIPServer 2>NUL >NUL &amp;&amp; sc stop "SIP Server" 2>NUL >NUL'
      Directory="MYAPPFOLDER"  Execute="deferred"
      Return="ignore"
      Impersonate="no"
      />

    <CustomAction Id="DeleteSvc"
      ExeCommand='cmd.exe /c echo Uninstalling service... please do not close window &amp;&amp; sc delete SIPServer 2>NUL >NUL  sc delete "SIP Server" 2>NUL >NUL'
      Directory="MYAPPFOLDER"  Execute="deferred"
      Return="ignore"
      Impersonate="no"
      />

    <CustomAction Id="Backup"
      ExeCommand='cmd.exe /c echo Backing up... please do not close window. This may take some time depending on the size of the log files. &amp;&amp; XCOPY [MYAPPFOLDER] [APPROOT]\SIPServerTemp /Y/C/H/E/J/K/O/Q/I >NUL 2>NUL'
      Directory="APPROOT" Execute="deferred"
      Return="ignore"
      Impersonate="no"                  
    />

    <CustomAction Id="Rename"
      ExeCommand='cmd.exe /c [MYAPPFOLDER]\RenBackup.bat [APPROOT] '
      Directory="APPROOT" Execute="deferred"
      Return="ignore"
      Impersonate="no"                  
    />

    <CustomAction Id="SetIP"
      ExeCommand='cmd.exe /c [MYAPPFOLDER]\SetIP.bat [TCPADR] [UDPADR] [MYAPPFOLDER]'
      Directory="MYAPPFOLDER" Execute="deferred"
      Return="ignore"
      Impersonate="no"
    />
    <!--Impersonate below was yes-->
    <CustomAction Id="InstallService"
      ExeCommand='[MYAPPFOLDER]\nssm install SIPServer "[MYAPPFOLDER]\SIPServer.exe"'
      Directory="MYAPPFOLDER" Execute="deferred"
      Impersonate="no" 
      Return="ignore"
    />
    
    
    <CustomAction Id="ConfigSvcSetup"
      ExeCommand='cmd.exe /c echo Configuring service... please do not close window &amp;&amp; sc failure SIPServer reset=259100 actions=restart/10000 2>NUL >NUL'
      Directory="MYAPPFOLDER"  Execute="deferred"
      Return="ignore"
      Impersonate="no"                  
    />
  </Fragment>
</Wix>
